.list-card {
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 10px;

    background: linear-gradient(
        145deg,
        rgba(40, 167, 69, 0.12),
        rgba(40, 167, 69, 0.05)
    );

    max-width: 300px;
    max-height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 8px 24px rgba(40, 167, 69, 0.25);

    cursor: pointer;

    transition: 
        transform 0.25s ease,
        box-shadow 0.25s ease;

    will-change: transform;
}

.list-card:hover {
    transform: scale(1.06) translateY(-4px);

    box-shadow: 
        0 16px 40px rgba(40, 167, 69, 0.35);
}

.list-card:active {
    transform: scale(0.97) translateY(0px);
    box-shadow: 0 6px 16px rgba(40, 167, 69, 0.2);
}

.list-task-card {
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 10px;

    background: white;

    width: 100%;
    max-width: 700px;

    height: auto;
    max-height: 300px;

    display: flex;
    align-items: center;

    box-shadow: 0 8px 24px rgba(40, 167, 69, 0.25);

    cursor: pointer;

    transition: 
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

.list-task-card:hover {
    transform: scale(1.06) translateY(-4px);
    box-shadow: 
        0 16px 40px rgba(40, 167, 69, 0.35);
}

.list-task-card:active {
    transform: scale(0.97) translateY(0px);
    box-shadow: 0 6px 16px rgba(40, 167, 69, 0.2);

}

.list-task-card.selected {
    transform: scale(1.06) translateY(-4px);
    box-shadow: 0 6px 16px rgba(40, 167, 69, 0.2);
    background: linear-gradient(
        145deg,
        rgba(40, 167, 69, 0.12),
        rgba(40, 167, 69, 0.05)
    );
}

.completed-task {
    border: 3px solid #000;
    padding: 12px;
    border-radius: 10px;

    background: linear-gradient(
        145deg,
        rgba(40, 167, 69, 0.12),
        rgba(40, 167, 69, 0.05)
    );

    width: 100%;
    max-width: 700px;

    height: auto;
    max-height: 300px;

    display: flex;
    align-items: center;
    font-style: italic;
}

.list-background {
    background-image: linear-gradient(to top, rgba(40, 167, 69, 0.35), rgba(40, 167, 69, 0.12));
    min-height: 100vh;
}

.list-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 20px;
    background-color: white;
    box-shadow: 0 8px 24px rgba(40, 167, 69, 0.25);
    border-radius: 20px;
}