.list-card {
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 8px;
    background: linear-gradient(
        145deg,
        rgba(255, 140, 0, 0.12),
        rgba(255, 120, 0, 0.05)
    );

    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 8px 24px rgba(255, 100, 0, 0.6);
}

.list-btn.btn {
    box-shadow: 0 8px 24px rgba(255, 100, 0, 0.6);
    background-color: rgba(255, 140, 0, 1);
    border-color: rgba(255, 140, 0, 1);
    color: white;
}

.list-btn.btn:hover {
    box-shadow: 0 8px 24px rgba(255, 100, 0, 0.6);
    background-color: rgba(255, 140, 0, 1);
    border-color: rgba(255, 140, 0, 1);
    color: white;
}

